<%- include('partials/head')  %>

    <div class="container">
      <h1> You are on <%= name %> subreddit</h1>
      <h2><%= description %></h2>
      <p>Total Subscibers: <%= subscribers %></p>

      <hr>

      <% for(let post of posts){ %>
        <p>
          <%= post.title %> - <b> <%= post.author%> </b>
        </p>
          <% if (post.img) { %>
            <img src="<%=post.img%>"
          <% } %>
      
    <% } %>
    </div>
    


  </body>
</html>